@font-face {
  font-family: "Oswald";
  src: url("Oswald-VariableFont_wght.ttf") format("truetype");
}
@font-face {
  font-family: "Batfight";
  src: url("batfight_2.0.ttf") format("truetype");
}
* {
  box-sizing: border-box;
}

html {
  font-family: Arial;
}

body {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-y: scroll;
}

.header-wrapper {
  background-color: #333;
  background-image: url("../img/dice2-unsplash.jpg");
  background-repeat: no-repeat;
  background-position: center top;
}

header {
  height: 14em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

nav a {
  margin-right: 1.2em;
  font-family: "Oswald";
  color: #eee;
  text-decoration: none;
  font-weight: bold;
  font-size: 28px;
}

nav a:hover {
  color: #ffcb69;
}

.header-right {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  font-family: "Oswald";
  color: #eee;
  text-decoration: none;
  font-weight: normal;
  font-size: 20px;
}

.header-right a {
  color: #eee;
  text-decoration: none;
  margin: 0 1.2em;
}

.header-right a:hover {
  color: #ffcb69;
}

.h1-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.h1-wrapper .left {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.left p {
  margin-left: 3em;
}

.h1-wrapper .right {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Oswald";
  font-weight: normal;
}

.red {
  color: #b56576;
}

.green {
  color: #04AA6D;
}

.blue {
  color: #4694c4;
}

.bold {
  font-weight: bold;
}

.result-icon {
  font-family: "Batfight";
  font-size: 200px;
}

.line {
  height: 1px;
  background-color: #ccc;
}

.form-box {
  width: 100%;
  font-size: 14px;
  color: #f2f2f2;
  padding: 2.5rem;
  background-color: #3e4142;
  background-image: url("../img/login-splash-unsplash.jpg");
  box-shadow: 3px 3px 5px #ccc;
  border-style: solid;
  border-width: 1px;
  border-color: #3e4142;
  border-radius: 0.3rem;
  margin-bottom: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
}
.form-box .width-wrapper {
  width: 500px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.form-box h1 {
  margin: 0 0 1rem;
}
.form-box h2 {
  text-align: right;
  margin: 2em 0 1em;
}
.form-box a,
.form-box a:visited,
.form-box a:active {
  color: #f2f2f2;
}
.form-box input[type=text],
.form-box input[type=password],
.form-box input[type=number],
.form-box select {
  width: 100%;
  padding: 0.8em 1em;
  margin: 0.5em 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  font-size: 1.1em;
}
.form-box label {
  padding-top: 1em;
}
.form-box button {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  border-style: solid;
  border-width: 1px;
  border-color: #04AA6D;
  border-radius: 0.1rem;
  margin-top: 1em;
}
.form-box button:hover {
  opacity: 0.8;
}
.form-box .error-box {
  font-size: 14px;
  padding: 0.8em;
  background-color: #B56576;
  border-style: solid;
  border-width: 1px;
  border-color: #B56576;
  border-radius: 0.3rem;
  margin: 1.2em 0;
}

.statusbox {
  font-size: 14px;
  padding: 0.8em;
  background-color: #fefefe;
  box-shadow: 1px 1px 5px #ccc;
  border-style: solid;
  border-width: 1px;
  border-color: #fefefe;
  border-radius: 0.3rem;
  margin-bottom: 2em;
}
.statusbox h2 {
  margin: 0.5em 0;
}
.statusbox p {
  padding-bottom: 0.8em;
  margin: 0;
}
.statusbox p:last-child {
  padding: 0;
  padding-bottom: 0;
}

.infobox-content-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  font-size: 13px;
  padding: 0.8em;
  border: 1px solid;
  border-radius: 5px;
  margin-bottom: 2em;
}

.infobox-content-wrapper .left {
  margin-left: 1em;
  text-align: right;
}

.infobox-content-wrapper .right {
  margin-left: 1em;
  text-align: left;
}

.main-wrapper {
  background-color: #fafafa;
}

header,
main,
footer {
  width: 1000px;
  padding: 1em;
  margin: 0 auto;
}

footer {
  font-family: "Oswald";
  font-weight: normal;
}

.user-account-wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.user-account-wrapper .left {
  width: 45%;
}
.user-account-wrapper .right {
  width: 50%;
}
.user-account-wrapper .userinfo-left {
  margin-left: 1em;
  text-align: right;
}
.user-account-wrapper .userinfo-right {
  margin-left: 1em;
  text-align: left;
}

.results-main-wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.one-result-content-left {
  width: 650px;
}

.results-content-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

table.top10 {
  border-collapse: collapse;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  margin-bottom: 3em;
  width: 100%;
}
table.top10 th {
  padding: 0 1em 0.5em;
  text-align: left;
  font-weight: bold;
}
table.top10 td {
  border: 0;
  padding: 1rem;
}
table.top10 th.bar-header {
  text-align: center;
}
table.top10 td.bar-label {
  text-align: right;
}
table.top10 td.bar {
  width: 300px;
  padding-right: 3rem;
}
table.top10 tr:first-child {
  border-bottom: 1px solid #888;
}
table.top10 tr:nth-child(even) {
  background-color: #f2f2f2;
}
table.top10 tr:nth-child(2) {
  font-size: 18px;
}
table.top10 button {
  background-color: #04AA6D;
  color: white;
  padding: 0.6em 1em;
  margin: 0;
  border: none;
  cursor: pointer;
  width: 100%;
  height: 100%;
  border-style: solid;
  border-width: 1px;
  border-color: #04AA6D;
  border-radius: 0.3rem;
}
table.top10 button:hover {
  opacity: 0.8;
}
table.top10 button.red {
  background-color: #b56576;
  border-color: #b56576;
}
table.top10 button.blue {
  background-color: #4694c4;
  border-color: #4694c4;
}
table.top10 button.fixed-width {
  width: 100px;
}

.bar .percent1 {
  width: 1%;
  background-color: #04AA6D;
  height: 1em;
  box-shadow: 1px 1px 3px #ccc;
  border-style: solid;
  border-width: 1px;
  border-color: #04AA6D;
  border-radius: 0.2rem;
}
.bar .percent2 {
  width: 2%;
  background-color: #04AA6D;
  height: 1em;
  box-shadow: 1px 1px 3px #ccc;
  border-style: solid;
  border-width: 1px;
  border-color: #04AA6D;
  border-radius: 0.2rem;
}
.bar .percent3 {
  width: 3%;
  background-color: #04AA6D;
  height: 1em;
  box-shadow: 1px 1px 3px #ccc;
  border-style: solid;
  border-width: 1px;
  border-color: #04AA6D;
  border-radius: 0.2rem;
}
.bar .percent4 {
  width: 4%;
  background-color: #04AA6D;
  height: 1em;
  box-shadow: 1px 1px 3px #ccc;
  border-style: solid;
  border-width: 1px;
  border-color: #04AA6D;
  border-radius: 0.2rem;
}
.bar .percent5 {
  width: 5%;
  background-color: #04AA6D;
  height: 1em;
  box-shadow: 1px 1px 3px #ccc;
  border-style: solid;
  border-width: 1px;
  border-color: #04AA6D;
  border-radius: 0.2rem;
}
.bar .percent6 {
  width: 6%;
  background-color: #04AA6D;
  height: 1em;
  box-shadow: 1px 1px 3px #ccc;
  border-style: solid;
  border-width: 1px;
  border-color: #04AA6D;
  border-radius: 0.2rem;
}
.bar .percent7 {
  width: 7%;
  background-color: #04AA6D;
  height: 1em;
  box-shadow: 1px 1px 3px #ccc;
  border-style: solid;
  border-width: 1px;
  border-color: #04AA6D;
  border-radius: 0.2rem;
}
.bar .percent8 {
  width: 8%;
  background-color: #04AA6D;
  height: 1em;
  box-shadow: 1px 1px 3px #ccc;
  border-style: solid;
  border-width: 1px;
  border-color: #04AA6D;
  border-radius: 0.2rem;
}
.bar .percent9 {
  width: 9%;
  background-color: #04AA6D;
  height: 1em;
  box-shadow: 1px 1px 3px #ccc;
  border-style: solid;
  border-width: 1px;
  border-color: #04AA6D;
  border-radius: 0.2rem;
}
.bar .percent10 {
  width: 10%;
  background-color: #04AA6D;
  height: 1em;
  box-shadow: 1px 1px 3px #ccc;
  border-style: solid;
  border-width: 1px;
  border-color: #04AA6D;
  border-radius: 0.2rem;
}
.bar .percent11 {
  width: 11%;
  background-color: #04AA6D;
  height: 1em;
  box-shadow: 1px 1px 3px #ccc;
  border-style: solid;
  border-width: 1px;
  border-color: #04AA6D;
  border-radius: 0.2rem;
}
.bar .percent12 {
  width: 12%;
  background-color: #04AA6D;
  height: 1em;
  box-shadow: 1px 1px 3px #ccc;
  border-style: solid;
  border-width: 1px;
  border-color: #04AA6D;
  border-radius: 0.2rem;
}
.bar .percent13 {
  width: 13%;
  background-color: #04AA6D;
  height: 1em;
  box-shadow: 1px 1px 3px #ccc;
  border-style: solid;
  border-width: 1px;
  border-color: #04AA6D;
  border-radius: 0.2rem;
}
.bar .percent14 {
  width: 14%;
  background-color: #04AA6D;
  height: 1em;
  box-shadow: 1px 1px 3px #ccc;
  border-style: solid;
  border-width: 1px;
  border-color: #04AA6D;
  border-radius: 0.2rem;
}
.bar .percent15 {
  width: 15%;
  background-color: #04AA6D;
  height: 1em;
  box-shadow: 1px 1px 3px #ccc;
  border-style: solid;
  border-width: 1px;
  border-color: #04AA6D;
  border-radius: 0.2rem;
}
.bar .percent16 {
  width: 16%;
  background-color: #04AA6D;
  height: 1em;
  box-shadow: 1px 1px 3px #ccc;
  border-style: solid;
  border-width: 1px;
  border-color: #04AA6D;
  border-radius: 0.2rem;
}
.bar .percent17 {
  width: 17%;
  background-color: #04AA6D;
  height: 1em;
  box-shadow: 1px 1px 3px #ccc;
  border-style: solid;
  border-width: 1px;
  border-color: #04AA6D;
  border-radius: 0.2rem;
}
.bar .percent18 {
  width: 18%;
  background-color: #04AA6D;
  height: 1em;
  box-shadow: 1px 1px 3px #ccc;
  border-style: solid;
  border-width: 1px;
  border-color: #04AA6D;
  border-radius: 0.2rem;
}
.bar .percent19 {
  width: 19%;
  background-color: #04AA6D;
  height: 1em;
  box-shadow: 1px 1px 3px #ccc;
  border-style: solid;
  border-width: 1px;
  border-color: #04AA6D;
  border-radius: 0.2rem;
}
.bar .percent20 {
  width: 20%;
  background-color: #04AA6D;
  height: 1em;
  box-shadow: 1px 1px 3px #ccc;
  border-style: solid;
  border-width: 1px;
  border-color: #04AA6D;
  border-radius: 0.2rem;
}
.bar .percent21 {
  width: 21%;
  background-color: #04AA6D;
  height: 1em;
  box-shadow: 1px 1px 3px #ccc;
  border-style: solid;
  border-width: 1px;
  border-color: #04AA6D;
  border-radius: 0.2rem;
}
.bar .percent22 {
  width: 22%;
  background-color: #04AA6D;
  height: 1em;
  box-shadow: 1px 1px 3px #ccc;
  border-style: solid;
  border-width: 1px;
  border-color: #04AA6D;
  border-radius: 0.2rem;
}
.bar .percent23 {
  width: 23%;
  background-color: #04AA6D;
  height: 1em;
  box-shadow: 1px 1px 3px #ccc;
  border-style: solid;
  border-width: 1px;
  border-color: #04AA6D;
  border-radius: 0.2rem;
}
.bar .percent24 {
  width: 24%;
  background-color: #04AA6D;
  height: 1em;
  box-shadow: 1px 1px 3px #ccc;
  border-style: solid;
  border-width: 1px;
  border-color: #04AA6D;
  border-radius: 0.2rem;
}
.bar .percent25 {
  width: 25%;
  background-color: #04AA6D;
  height: 1em;
  box-shadow: 1px 1px 3px #ccc;
  border-style: solid;
  border-width: 1px;
  border-color: #04AA6D;
  border-radius: 0.2rem;
}
.bar .percent26 {
  width: 26%;
  background-color: #04AA6D;
  height: 1em;
  box-shadow: 1px 1px 3px #ccc;
  border-style: solid;
  border-width: 1px;
  border-color: #04AA6D;
  border-radius: 0.2rem;
}
.bar .percent27 {
  width: 27%;
  background-color: #04AA6D;
  height: 1em;
  box-shadow: 1px 1px 3px #ccc;
  border-style: solid;
  border-width: 1px;
  border-color: #04AA6D;
  border-radius: 0.2rem;
}
.bar .percent28 {
  width: 28%;
  background-color: #04AA6D;
  height: 1em;
  box-shadow: 1px 1px 3px #ccc;
  border-style: solid;
  border-width: 1px;
  border-color: #04AA6D;
  border-radius: 0.2rem;
}
.bar .percent29 {
  width: 29%;
  background-color: #04AA6D;
  height: 1em;
  box-shadow: 1px 1px 3px #ccc;
  border-style: solid;
  border-width: 1px;
  border-color: #04AA6D;
  border-radius: 0.2rem;
}
.bar .percent30 {
  width: 30%;
  background-color: #04AA6D;
  height: 1em;
  box-shadow: 1px 1px 3px #ccc;
  border-style: solid;
  border-width: 1px;
  border-color: #04AA6D;
  border-radius: 0.2rem;
}
.bar .percent31 {
  width: 31%;
  background-color: #04AA6D;
  height: 1em;
  box-shadow: 1px 1px 3px #ccc;
  border-style: solid;
  border-width: 1px;
  border-color: #04AA6D;
  border-radius: 0.2rem;
}
.bar .percent32 {
  width: 32%;
  background-color: #04AA6D;
  height: 1em;
  box-shadow: 1px 1px 3px #ccc;
  border-style: solid;
  border-width: 1px;
  border-color: #04AA6D;
  border-radius: 0.2rem;
}
.bar .percent33 {
  width: 33%;
  background-color: #04AA6D;
  height: 1em;
  box-shadow: 1px 1px 3px #ccc;
  border-style: solid;
  border-width: 1px;
  border-color: #04AA6D;
  border-radius: 0.2rem;
}
.bar .percent34 {
  width: 34%;
  background-color: #04AA6D;
  height: 1em;
  box-shadow: 1px 1px 3px #ccc;
  border-style: solid;
  border-width: 1px;
  border-color: #04AA6D;
  border-radius: 0.2rem;
}
.bar .percent35 {
  width: 35%;
  background-color: #04AA6D;
  height: 1em;
  box-shadow: 1px 1px 3px #ccc;
  border-style: solid;
  border-width: 1px;
  border-color: #04AA6D;
  border-radius: 0.2rem;
}
.bar .percent36 {
  width: 36%;
  background-color: #04AA6D;
  height: 1em;
  box-shadow: 1px 1px 3px #ccc;
  border-style: solid;
  border-width: 1px;
  border-color: #04AA6D;
  border-radius: 0.2rem;
}
.bar .percent37 {
  width: 37%;
  background-color: #04AA6D;
  height: 1em;
  box-shadow: 1px 1px 3px #ccc;
  border-style: solid;
  border-width: 1px;
  border-color: #04AA6D;
  border-radius: 0.2rem;
}
.bar .percent38 {
  width: 38%;
  background-color: #04AA6D;
  height: 1em;
  box-shadow: 1px 1px 3px #ccc;
  border-style: solid;
  border-width: 1px;
  border-color: #04AA6D;
  border-radius: 0.2rem;
}
.bar .percent39 {
  width: 39%;
  background-color: #04AA6D;
  height: 1em;
  box-shadow: 1px 1px 3px #ccc;
  border-style: solid;
  border-width: 1px;
  border-color: #04AA6D;
  border-radius: 0.2rem;
}
.bar .percent40 {
  width: 40%;
  background-color: #04AA6D;
  height: 1em;
  box-shadow: 1px 1px 3px #ccc;
  border-style: solid;
  border-width: 1px;
  border-color: #04AA6D;
  border-radius: 0.2rem;
}
.bar .percent41 {
  width: 41%;
  background-color: #04AA6D;
  height: 1em;
  box-shadow: 1px 1px 3px #ccc;
  border-style: solid;
  border-width: 1px;
  border-color: #04AA6D;
  border-radius: 0.2rem;
}
.bar .percent42 {
  width: 42%;
  background-color: #04AA6D;
  height: 1em;
  box-shadow: 1px 1px 3px #ccc;
  border-style: solid;
  border-width: 1px;
  border-color: #04AA6D;
  border-radius: 0.2rem;
}
.bar .percent43 {
  width: 43%;
  background-color: #04AA6D;
  height: 1em;
  box-shadow: 1px 1px 3px #ccc;
  border-style: solid;
  border-width: 1px;
  border-color: #04AA6D;
  border-radius: 0.2rem;
}
.bar .percent44 {
  width: 44%;
  background-color: #04AA6D;
  height: 1em;
  box-shadow: 1px 1px 3px #ccc;
  border-style: solid;
  border-width: 1px;
  border-color: #04AA6D;
  border-radius: 0.2rem;
}
.bar .percent45 {
  width: 45%;
  background-color: #04AA6D;
  height: 1em;
  box-shadow: 1px 1px 3px #ccc;
  border-style: solid;
  border-width: 1px;
  border-color: #04AA6D;
  border-radius: 0.2rem;
}
.bar .percent46 {
  width: 46%;
  background-color: #04AA6D;
  height: 1em;
  box-shadow: 1px 1px 3px #ccc;
  border-style: solid;
  border-width: 1px;
  border-color: #04AA6D;
  border-radius: 0.2rem;
}
.bar .percent47 {
  width: 47%;
  background-color: #04AA6D;
  height: 1em;
  box-shadow: 1px 1px 3px #ccc;
  border-style: solid;
  border-width: 1px;
  border-color: #04AA6D;
  border-radius: 0.2rem;
}
.bar .percent48 {
  width: 48%;
  background-color: #04AA6D;
  height: 1em;
  box-shadow: 1px 1px 3px #ccc;
  border-style: solid;
  border-width: 1px;
  border-color: #04AA6D;
  border-radius: 0.2rem;
}
.bar .percent49 {
  width: 49%;
  background-color: #04AA6D;
  height: 1em;
  box-shadow: 1px 1px 3px #ccc;
  border-style: solid;
  border-width: 1px;
  border-color: #04AA6D;
  border-radius: 0.2rem;
}
.bar .percent50 {
  width: 50%;
  background-color: #04AA6D;
  height: 1em;
  box-shadow: 1px 1px 3px #ccc;
  border-style: solid;
  border-width: 1px;
  border-color: #04AA6D;
  border-radius: 0.2rem;
}
.bar .percent51 {
  width: 51%;
  background-color: #04AA6D;
  height: 1em;
  box-shadow: 1px 1px 3px #ccc;
  border-style: solid;
  border-width: 1px;
  border-color: #04AA6D;
  border-radius: 0.2rem;
}
.bar .percent52 {
  width: 52%;
  background-color: #04AA6D;
  height: 1em;
  box-shadow: 1px 1px 3px #ccc;
  border-style: solid;
  border-width: 1px;
  border-color: #04AA6D;
  border-radius: 0.2rem;
}
.bar .percent53 {
  width: 53%;
  background-color: #04AA6D;
  height: 1em;
  box-shadow: 1px 1px 3px #ccc;
  border-style: solid;
  border-width: 1px;
  border-color: #04AA6D;
  border-radius: 0.2rem;
}
.bar .percent54 {
  width: 54%;
  background-color: #04AA6D;
  height: 1em;
  box-shadow: 1px 1px 3px #ccc;
  border-style: solid;
  border-width: 1px;
  border-color: #04AA6D;
  border-radius: 0.2rem;
}
.bar .percent55 {
  width: 55%;
  background-color: #04AA6D;
  height: 1em;
  box-shadow: 1px 1px 3px #ccc;
  border-style: solid;
  border-width: 1px;
  border-color: #04AA6D;
  border-radius: 0.2rem;
}
.bar .percent56 {
  width: 56%;
  background-color: #04AA6D;
  height: 1em;
  box-shadow: 1px 1px 3px #ccc;
  border-style: solid;
  border-width: 1px;
  border-color: #04AA6D;
  border-radius: 0.2rem;
}
.bar .percent57 {
  width: 57%;
  background-color: #04AA6D;
  height: 1em;
  box-shadow: 1px 1px 3px #ccc;
  border-style: solid;
  border-width: 1px;
  border-color: #04AA6D;
  border-radius: 0.2rem;
}
.bar .percent58 {
  width: 58%;
  background-color: #04AA6D;
  height: 1em;
  box-shadow: 1px 1px 3px #ccc;
  border-style: solid;
  border-width: 1px;
  border-color: #04AA6D;
  border-radius: 0.2rem;
}
.bar .percent59 {
  width: 59%;
  background-color: #04AA6D;
  height: 1em;
  box-shadow: 1px 1px 3px #ccc;
  border-style: solid;
  border-width: 1px;
  border-color: #04AA6D;
  border-radius: 0.2rem;
}
.bar .percent60 {
  width: 60%;
  background-color: #04AA6D;
  height: 1em;
  box-shadow: 1px 1px 3px #ccc;
  border-style: solid;
  border-width: 1px;
  border-color: #04AA6D;
  border-radius: 0.2rem;
}
.bar .percent61 {
  width: 61%;
  background-color: #04AA6D;
  height: 1em;
  box-shadow: 1px 1px 3px #ccc;
  border-style: solid;
  border-width: 1px;
  border-color: #04AA6D;
  border-radius: 0.2rem;
}
.bar .percent62 {
  width: 62%;
  background-color: #04AA6D;
  height: 1em;
  box-shadow: 1px 1px 3px #ccc;
  border-style: solid;
  border-width: 1px;
  border-color: #04AA6D;
  border-radius: 0.2rem;
}
.bar .percent63 {
  width: 63%;
  background-color: #04AA6D;
  height: 1em;
  box-shadow: 1px 1px 3px #ccc;
  border-style: solid;
  border-width: 1px;
  border-color: #04AA6D;
  border-radius: 0.2rem;
}
.bar .percent64 {
  width: 64%;
  background-color: #04AA6D;
  height: 1em;
  box-shadow: 1px 1px 3px #ccc;
  border-style: solid;
  border-width: 1px;
  border-color: #04AA6D;
  border-radius: 0.2rem;
}
.bar .percent65 {
  width: 65%;
  background-color: #04AA6D;
  height: 1em;
  box-shadow: 1px 1px 3px #ccc;
  border-style: solid;
  border-width: 1px;
  border-color: #04AA6D;
  border-radius: 0.2rem;
}
.bar .percent66 {
  width: 66%;
  background-color: #04AA6D;
  height: 1em;
  box-shadow: 1px 1px 3px #ccc;
  border-style: solid;
  border-width: 1px;
  border-color: #04AA6D;
  border-radius: 0.2rem;
}
.bar .percent67 {
  width: 67%;
  background-color: #04AA6D;
  height: 1em;
  box-shadow: 1px 1px 3px #ccc;
  border-style: solid;
  border-width: 1px;
  border-color: #04AA6D;
  border-radius: 0.2rem;
}
.bar .percent68 {
  width: 68%;
  background-color: #04AA6D;
  height: 1em;
  box-shadow: 1px 1px 3px #ccc;
  border-style: solid;
  border-width: 1px;
  border-color: #04AA6D;
  border-radius: 0.2rem;
}
.bar .percent69 {
  width: 69%;
  background-color: #04AA6D;
  height: 1em;
  box-shadow: 1px 1px 3px #ccc;
  border-style: solid;
  border-width: 1px;
  border-color: #04AA6D;
  border-radius: 0.2rem;
}
.bar .percent70 {
  width: 70%;
  background-color: #04AA6D;
  height: 1em;
  box-shadow: 1px 1px 3px #ccc;
  border-style: solid;
  border-width: 1px;
  border-color: #04AA6D;
  border-radius: 0.2rem;
}
.bar .percent71 {
  width: 71%;
  background-color: #04AA6D;
  height: 1em;
  box-shadow: 1px 1px 3px #ccc;
  border-style: solid;
  border-width: 1px;
  border-color: #04AA6D;
  border-radius: 0.2rem;
}
.bar .percent72 {
  width: 72%;
  background-color: #04AA6D;
  height: 1em;
  box-shadow: 1px 1px 3px #ccc;
  border-style: solid;
  border-width: 1px;
  border-color: #04AA6D;
  border-radius: 0.2rem;
}
.bar .percent73 {
  width: 73%;
  background-color: #04AA6D;
  height: 1em;
  box-shadow: 1px 1px 3px #ccc;
  border-style: solid;
  border-width: 1px;
  border-color: #04AA6D;
  border-radius: 0.2rem;
}
.bar .percent74 {
  width: 74%;
  background-color: #04AA6D;
  height: 1em;
  box-shadow: 1px 1px 3px #ccc;
  border-style: solid;
  border-width: 1px;
  border-color: #04AA6D;
  border-radius: 0.2rem;
}
.bar .percent75 {
  width: 75%;
  background-color: #04AA6D;
  height: 1em;
  box-shadow: 1px 1px 3px #ccc;
  border-style: solid;
  border-width: 1px;
  border-color: #04AA6D;
  border-radius: 0.2rem;
}
.bar .percent76 {
  width: 76%;
  background-color: #04AA6D;
  height: 1em;
  box-shadow: 1px 1px 3px #ccc;
  border-style: solid;
  border-width: 1px;
  border-color: #04AA6D;
  border-radius: 0.2rem;
}
.bar .percent77 {
  width: 77%;
  background-color: #04AA6D;
  height: 1em;
  box-shadow: 1px 1px 3px #ccc;
  border-style: solid;
  border-width: 1px;
  border-color: #04AA6D;
  border-radius: 0.2rem;
}
.bar .percent78 {
  width: 78%;
  background-color: #04AA6D;
  height: 1em;
  box-shadow: 1px 1px 3px #ccc;
  border-style: solid;
  border-width: 1px;
  border-color: #04AA6D;
  border-radius: 0.2rem;
}
.bar .percent79 {
  width: 79%;
  background-color: #04AA6D;
  height: 1em;
  box-shadow: 1px 1px 3px #ccc;
  border-style: solid;
  border-width: 1px;
  border-color: #04AA6D;
  border-radius: 0.2rem;
}
.bar .percent80 {
  width: 80%;
  background-color: #04AA6D;
  height: 1em;
  box-shadow: 1px 1px 3px #ccc;
  border-style: solid;
  border-width: 1px;
  border-color: #04AA6D;
  border-radius: 0.2rem;
}
.bar .percent81 {
  width: 81%;
  background-color: #04AA6D;
  height: 1em;
  box-shadow: 1px 1px 3px #ccc;
  border-style: solid;
  border-width: 1px;
  border-color: #04AA6D;
  border-radius: 0.2rem;
}
.bar .percent82 {
  width: 82%;
  background-color: #04AA6D;
  height: 1em;
  box-shadow: 1px 1px 3px #ccc;
  border-style: solid;
  border-width: 1px;
  border-color: #04AA6D;
  border-radius: 0.2rem;
}
.bar .percent83 {
  width: 83%;
  background-color: #04AA6D;
  height: 1em;
  box-shadow: 1px 1px 3px #ccc;
  border-style: solid;
  border-width: 1px;
  border-color: #04AA6D;
  border-radius: 0.2rem;
}
.bar .percent84 {
  width: 84%;
  background-color: #04AA6D;
  height: 1em;
  box-shadow: 1px 1px 3px #ccc;
  border-style: solid;
  border-width: 1px;
  border-color: #04AA6D;
  border-radius: 0.2rem;
}
.bar .percent85 {
  width: 85%;
  background-color: #04AA6D;
  height: 1em;
  box-shadow: 1px 1px 3px #ccc;
  border-style: solid;
  border-width: 1px;
  border-color: #04AA6D;
  border-radius: 0.2rem;
}
.bar .percent86 {
  width: 86%;
  background-color: #04AA6D;
  height: 1em;
  box-shadow: 1px 1px 3px #ccc;
  border-style: solid;
  border-width: 1px;
  border-color: #04AA6D;
  border-radius: 0.2rem;
}
.bar .percent87 {
  width: 87%;
  background-color: #04AA6D;
  height: 1em;
  box-shadow: 1px 1px 3px #ccc;
  border-style: solid;
  border-width: 1px;
  border-color: #04AA6D;
  border-radius: 0.2rem;
}
.bar .percent88 {
  width: 88%;
  background-color: #04AA6D;
  height: 1em;
  box-shadow: 1px 1px 3px #ccc;
  border-style: solid;
  border-width: 1px;
  border-color: #04AA6D;
  border-radius: 0.2rem;
}
.bar .percent89 {
  width: 89%;
  background-color: #04AA6D;
  height: 1em;
  box-shadow: 1px 1px 3px #ccc;
  border-style: solid;
  border-width: 1px;
  border-color: #04AA6D;
  border-radius: 0.2rem;
}
.bar .percent90 {
  width: 90%;
  background-color: #04AA6D;
  height: 1em;
  box-shadow: 1px 1px 3px #ccc;
  border-style: solid;
  border-width: 1px;
  border-color: #04AA6D;
  border-radius: 0.2rem;
}
.bar .percent91 {
  width: 91%;
  background-color: #04AA6D;
  height: 1em;
  box-shadow: 1px 1px 3px #ccc;
  border-style: solid;
  border-width: 1px;
  border-color: #04AA6D;
  border-radius: 0.2rem;
}
.bar .percent92 {
  width: 92%;
  background-color: #04AA6D;
  height: 1em;
  box-shadow: 1px 1px 3px #ccc;
  border-style: solid;
  border-width: 1px;
  border-color: #04AA6D;
  border-radius: 0.2rem;
}
.bar .percent93 {
  width: 93%;
  background-color: #04AA6D;
  height: 1em;
  box-shadow: 1px 1px 3px #ccc;
  border-style: solid;
  border-width: 1px;
  border-color: #04AA6D;
  border-radius: 0.2rem;
}
.bar .percent94 {
  width: 94%;
  background-color: #04AA6D;
  height: 1em;
  box-shadow: 1px 1px 3px #ccc;
  border-style: solid;
  border-width: 1px;
  border-color: #04AA6D;
  border-radius: 0.2rem;
}
.bar .percent95 {
  width: 95%;
  background-color: #04AA6D;
  height: 1em;
  box-shadow: 1px 1px 3px #ccc;
  border-style: solid;
  border-width: 1px;
  border-color: #04AA6D;
  border-radius: 0.2rem;
}
.bar .percent96 {
  width: 96%;
  background-color: #04AA6D;
  height: 1em;
  box-shadow: 1px 1px 3px #ccc;
  border-style: solid;
  border-width: 1px;
  border-color: #04AA6D;
  border-radius: 0.2rem;
}
.bar .percent97 {
  width: 97%;
  background-color: #04AA6D;
  height: 1em;
  box-shadow: 1px 1px 3px #ccc;
  border-style: solid;
  border-width: 1px;
  border-color: #04AA6D;
  border-radius: 0.2rem;
}
.bar .percent98 {
  width: 98%;
  background-color: #04AA6D;
  height: 1em;
  box-shadow: 1px 1px 3px #ccc;
  border-style: solid;
  border-width: 1px;
  border-color: #04AA6D;
  border-radius: 0.2rem;
}
.bar .percent99 {
  width: 99%;
  background-color: #04AA6D;
  height: 1em;
  box-shadow: 1px 1px 3px #ccc;
  border-style: solid;
  border-width: 1px;
  border-color: #04AA6D;
  border-radius: 0.2rem;
}
.bar .percent100 {
  width: 100%;
  background-color: #04AA6D;
  height: 1em;
  box-shadow: 1px 1px 3px #ccc;
  border-style: solid;
  border-width: 1px;
  border-color: #04AA6D;
  border-radius: 0.2rem;
}

table.highscore {
  border-collapse: collapse;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  margin-bottom: 3em;
  width: 100%;
}
table.highscore th {
  padding: 0 1em 0.5em;
  text-align: left;
  font-weight: bold;
}
table.highscore td {
  border: 0;
  padding: 1rem;
}
table.highscore th.bar-header {
  text-align: center;
}
table.highscore td.bar-label {
  text-align: right;
}
table.highscore td.bar {
  width: 300px;
  padding-right: 3rem;
}
table.highscore tr:first-child {
  border-bottom: 1px solid #888;
}
table.highscore tr:nth-child(even) {
  background-color: #f2f2f2;
}
table.highscore .two-buttons-wrapper {
  padding-top: 0.6em;
  padding-bottom: 0.6em;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-between;
}
table.highscore button {
  background-color: #04AA6D;
  color: white;
  padding: 0.6em 1em;
  margin: 0;
  border: none;
  cursor: pointer;
  width: 100%;
  height: 100%;
  border-style: solid;
  border-width: 1px;
  border-color: #04AA6D;
  border-radius: 0.3rem;
}
table.highscore button:hover {
  opacity: 0.8;
}
table.highscore button.red {
  background-color: #b56576;
  border-color: #b56576;
}
table.highscore button.blue {
  background-color: #4694c4;
  border-color: #4694c4;
}
table.highscore button.fixed-width {
  width: 100px;
}

.scorecard-wrapper {
  padding: 1.5em;
  background-color: #fefefe;
  box-shadow: 1px 1px 5px #ccc;
  border-style: solid;
  border-width: 1px;
  border-color: #fefefe;
  border-radius: 0.3rem;
}
.scorecard-wrapper h3 {
  margin-top: 0.2em;
}

table.scorecard {
  border-collapse: collapse;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  width: 100%;
  border-style: solid;
  border-width: 1px;
  border-color: #000;
}
table.scorecard th,
table.scorecard tr {
  height: 36px;
}
table.scorecard th {
  padding-top: 25px;
  padding-bottom: 8px;
  text-align: left;
  font-weight: bold;
}
table.scorecard td, table.scorecard th {
  border-style: solid;
  border-width: 1px;
  border-color: #000;
  padding: 0 0.8em;
}
table.scorecard td:first-child,
table.scorecard th:first-child {
  padding-right: 2em;
}
table.scorecard td:last-child {
  text-align: center;
  width: 80px;
}
table.scorecard tr.bonus,
table.scorecard tr.totalpoints {
  background-color: #eee;
  color: #333;
}
table.scorecard tr.totalpoints {
  font-weight: bold;
}
table.scorecard button {
  background-color: #04AA6D;
  color: white;
  padding: 0.4em;
  margin: 0;
  border: none;
  cursor: pointer;
  width: 100%;
  height: 100%;
  border-style: solid;
  border-width: 1px;
  border-color: #04AA6D;
  border-radius: 0.1rem;
}
table.scorecard button:hover {
  opacity: 0.8;
}

.game-main-wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.game-content-right {
  padding: 1em;
}

.yatzy-status {
  background-color: #eee;
  padding: 1em;
  width: 100%;
}

.yatzy-form {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.yatzy-form button {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  border-style: solid;
  border-width: 1px;
  border-color: #04AA6D;
  border-radius: 0.1rem;
}
.yatzy-form button:hover {
  opacity: 0.8;
}

.yatzy-dice {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-content: space-around;
  margin: 0 0 2em;
  padding: 0.8em;
  background-color: #e7d8c9;
  box-shadow: 1px 1px 5px #ccc;
  border-style: solid;
  border-width: 1px;
  border-color: #e7d8c9;
  border-radius: 0.3rem;
}

.onedice {
  text-align: center;
  padding: 0.5em 0.5em 0;
  margin: 0 0.2em;
}

.onedice input {
  margin-top: 1em;
  width: 20px;
  height: 20px;
}

.dice-image {
  width: 80px;
  height: 80px;
  padding: 0;
}

.histogram-wrapper {
  padding: 2em;
}

.histogram {
  box-sizing: border-box;
  color: #000;
  display: table;
  table-layout: fixed;
  padding: 0;
  width: 100%;
  height: 200px;
  margin: 0 auto;
}
.histogram li {
  position: relative;
  display: table-cell;
  vertical-align: bottom;
  height: 400px;
  margin-bottom: 2em;
}
.histogram span {
  margin: 0 1em;
  display: block;
  background: #4694c4;
}
.histogram p.dice {
  font-family: Arial;
  font-size: 14px;
  margin: 0.25em;
  text-align: center;
  font-weight: bold;
}
.histogram p.stats {
  font-family: Arial;
  font-size: 14px;
  margin: 0.25em;
  text-align: center;
}

.percent-height1 {
  height: 3%;
}

.percent-height2 {
  height: 6%;
}

.percent-height3 {
  height: 9%;
}

.percent-height4 {
  height: 12%;
}

.percent-height5 {
  height: 15%;
}

.percent-height6 {
  height: 18%;
}

.percent-height7 {
  height: 21%;
}

.percent-height8 {
  height: 24%;
}

.percent-height9 {
  height: 27%;
}

.percent-height10 {
  height: 30%;
}

.percent-height11 {
  height: 33%;
}

.percent-height12 {
  height: 36%;
}

.percent-height13 {
  height: 39%;
}

.percent-height14 {
  height: 42%;
}

.percent-height15 {
  height: 45%;
}

.percent-height16 {
  height: 48%;
}

.percent-height17 {
  height: 51%;
}

.percent-height18 {
  height: 54%;
}

.percent-height19 {
  height: 57%;
}

.percent-height20 {
  height: 60%;
}

.percent-height21 {
  height: 63%;
}

.percent-height22 {
  height: 66%;
}

.percent-height23 {
  height: 69%;
}

.percent-height24 {
  height: 72%;
}

.percent-height25 {
  height: 75%;
}

.percent-height26 {
  height: 78%;
}

.percent-height27 {
  height: 81%;
}

.percent-height28 {
  height: 84%;
}

.percent-height29 {
  height: 87%;
}

.percent-height30 {
  height: 90%;
}

.percent-height31 {
  height: 93%;
}

.percent-height32 {
  height: 96%;
}

.percent-height33 {
  height: 99%;
}

.percent-height34 {
  height: 102%;
}

.percent-height35 {
  height: 105%;
}

.percent-height36 {
  height: 108%;
}

.percent-height37 {
  height: 111%;
}

.percent-height38 {
  height: 114%;
}

.percent-height39 {
  height: 117%;
}

.percent-height40 {
  height: 120%;
}

.percent-height41 {
  height: 123%;
}

.percent-height42 {
  height: 126%;
}

.percent-height43 {
  height: 129%;
}

.percent-height44 {
  height: 132%;
}

.percent-height45 {
  height: 135%;
}

.percent-height46 {
  height: 138%;
}

.percent-height47 {
  height: 141%;
}

.percent-height48 {
  height: 144%;
}

.percent-height49 {
  height: 147%;
}

.percent-height50 {
  height: 150%;
}

.percent-height51 {
  height: 153%;
}

.percent-height52 {
  height: 156%;
}

.percent-height53 {
  height: 159%;
}

.percent-height54 {
  height: 162%;
}

.percent-height55 {
  height: 165%;
}

.percent-height56 {
  height: 168%;
}

.percent-height57 {
  height: 171%;
}

.percent-height58 {
  height: 174%;
}

.percent-height59 {
  height: 177%;
}

.percent-height60 {
  height: 180%;
}

.percent-height61 {
  height: 183%;
}

.percent-height62 {
  height: 186%;
}

.percent-height63 {
  height: 189%;
}

.percent-height64 {
  height: 192%;
}

.percent-height65 {
  height: 195%;
}

.percent-height66 {
  height: 198%;
}

.percent-height67 {
  height: 201%;
}

.percent-height68 {
  height: 204%;
}

.percent-height69 {
  height: 207%;
}

.percent-height70 {
  height: 210%;
}

.percent-height71 {
  height: 213%;
}

.percent-height72 {
  height: 216%;
}

.percent-height73 {
  height: 219%;
}

.percent-height74 {
  height: 222%;
}

.percent-height75 {
  height: 225%;
}

.percent-height76 {
  height: 228%;
}

.percent-height77 {
  height: 231%;
}

.percent-height78 {
  height: 234%;
}

.percent-height79 {
  height: 237%;
}

.percent-height80 {
  height: 240%;
}

.percent-height81 {
  height: 243%;
}

.percent-height82 {
  height: 246%;
}

.percent-height83 {
  height: 249%;
}

.percent-height84 {
  height: 252%;
}

.percent-height85 {
  height: 255%;
}

.percent-height86 {
  height: 258%;
}

.percent-height87 {
  height: 261%;
}

.percent-height88 {
  height: 264%;
}

.percent-height89 {
  height: 267%;
}

.percent-height90 {
  height: 270%;
}

.percent-height91 {
  height: 273%;
}

.percent-height92 {
  height: 276%;
}

.percent-height93 {
  height: 279%;
}

.percent-height94 {
  height: 282%;
}

.percent-height95 {
  height: 285%;
}

.percent-height96 {
  height: 288%;
}

.percent-height97 {
  height: 291%;
}

.percent-height98 {
  height: 294%;
}

.percent-height99 {
  height: 297%;
}

.percent-height100 {
  height: 300%;
}

.scorecard-1::after {
  content: "Ones";
}

.scorecard-2::after {
  content: "Twos";
}

.scorecard-3::after {
  content: "Threes";
}

.scorecard-4::after {
  content: "Fours";
}

.scorecard-5::after {
  content: "Fives";
}

.scorecard-6::after {
  content: "Sixes";
}

.scorecard-one_pair::after {
  content: "One pair";
}

.scorecard-two_pairs::after {
  content: "Two pairs";
}

.scorecard-three::after {
  content: "Three of a kind";
}

.scorecard-four::after {
  content: "Four of a kind";
}

.scorecard-small_straight::after {
  content: "Small straight";
}

.scorecard-large_straight::after {
  content: "Large straight";
}

.scorecard-full_house::after {
  content: "Full house";
}

.scorecard-chance::after {
  content: "Chance";
}

.scorecard-yatzy::after {
  content: "Yatzy";
}
