@font-face {
    font-family: 'Oswald';
    src: url('Oswald-VariableFont_wght.ttf') format('truetype');
}

html {
    font-family: Arial;
}

body {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: scroll;
}

.header-wrapper {
    background-color: #333;
    background-image: url('../img/dice-unsplash.jpg');
    background-repeat: no-repeat;
    background-position: center top;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

nav {
    margin-top: 13em;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

nav a {
    margin-right: 1.2em;
    font-family: 'Oswald';
	color: #eee;
	text-decoration: none;
	font-weight: bold;
    font-size: 28px;
}

nav a:hover {
	color: #ffcb69;
}

.h1-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.h1-wrapper .left {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.left p {
    margin-left: 3em;
}

.h1-wrapper .right {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Oswald';
    font-weight: normal;
}

.orderstatus {
    background-color: #fff;
    font-size: 14px;
    padding: 0.8em;
    border: 2px solid;
    border-radius: 5px;
    margin-left: 3em;
}

.orderinfo-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    font-size: 13px;
    padding: 0.8em;
    border: 1px solid;
    border-radius: 5px;
    margin-bottom: 2em;
}

.orderinfo-wrapper .left {
    margin-left: 1em;
    text-align: right;
}

.orderinfo-wrapper .right {
    margin-left: 1em;
    text-align: left;
}

.line {
    height: 1px;
    background-color: #ccc;
}

.main-wrapper {
    background-color: #fafafa;
}

header,
main,
footer {
    width: 1000px;
    padding: 1em;
    margin: 0 auto;
}

footer {
    font-family: 'Oswald';
    font-weight: normal;
}

table {
    border-collapse: collapse;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    margin-bottom: 1em;
    width: 100%;
}

td, th {
  border: 0;
  padding: 1em;
}

tr .redtext {
    color: #B56576;
}

tr:nth-child(even){
    background-color: #f2f2f2;
}

tr:hover {
    background-color: rgba(0,0,0,0.05);
}

tr.update {
    font-weight: bold;
}

th {
  padding-top: 25px;
  padding-bottom: 8px;
  text-align: left;
  background-color: #6C757D;
  color: white;
  font-weight: normal;
}


.game21-form {
    background-color: #f2f2f2;
    padding: 1em;
    margin-bottom: 1em;
}

.game21-form label {
    font-weight: bold;
}

.game21-form label,
.game21-form select,
.game21-form .submit {
    margin: 0.5em;
}

.game21-form .submit {
    padding: 0.4em;
    font-weight: bold;
}

.dice-utf8 {
    font-size: 5em;
    line-height: 0.5em;
    margin: 0;
}

.dice-utf8 .dice-1::after { content: "\2680"; font-style: normal; }
.dice-utf8 .dice-2::after { content: "\2681"; font-style: normal; }
.dice-utf8 .dice-3::after { content: "\2682"; font-style: normal; }
.dice-utf8 .dice-4::after { content: "\2683"; font-style: normal; }
.dice-utf8 .dice-5::after { content: "\2684"; font-style: normal; }
.dice-utf8 .dice-6::after { content: "\2685"; font-style: normal; }

 .yatzy-status {
     background-color: #eee;
     padding: 1em;
 }

.yatzy-form {
    display: flex;
    flex-direction: column;
    padding: 1em;
    border-width: 2px;
    border-color: #000;
}

.yatzy-form select {
    margin: 1em;
    width: 3em;
    height: 2em;
    font-weight: bold;
}

.yatzy-form .submit {
    padding: 0.4em;
    width: 250px;
    font-weight: bold;
    margin-bottom: 1em;
}

.yatzy-form input.text {
    padding: 0.4em;
    width: 250px;
    font-weight: bold;
    margin-bottom: 1em;
}

.yatzy-dice {
    display: flex;
    flex-direction: row;
    align-content: space-around;
    margin: 1em 0;
}

.onedice {
    text-align: center;
    padding: 0.5em;
    margin: 0 0.2em;
    background-color: #e7d8c9;
}

.onedice input {
    margin-top: 1em;
    width: 20px;
    height: 20px;
}

.dice-image {
    width: 50px;
    height: 50px;
    padding: 0;
}

.dice-image-small {
    width: 25px;
    height: 25px;
    padding: 0.5em;
    background-color: #caf0f8;
}

.books-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.book-wrapper {
    box-sizing: border-box;
    width: 250px;
    padding: 1em;
    margin: 1em;
    display: flex;
    flex-direction: column;
    border-radius: 0.2em;
    border-width: 1px;
    border-color: #ccc;
    border-style: solid;
}

.book-image {
    width: 200px;
}


.button {
  display: flex;
  overflow: hidden;

  margin: 0;
  padding: 7px 7px;

  cursor: pointer;
  user-select: none;
  transition: all 150ms linear;
  text-align: center;
  white-space: nowrap;
  text-decoration: none !important;
  text-transform: none;
  text-transform: capitalize;

  color: #fff;
  border: 0 none;
  border-radius: 5px;

  font-size: 13px;
  font-weight: 500;
  font-family: "BlinkMacSystemFont", "Segoe UI", "Roboto", Helvetica, Arial;
  line-height: 1.3;

  -webkit-appearance: none;
  -moz-appearance:    none;
  appearance:         none;

  justify-content: center;
  align-items: center;
  flex: 0 0 160px;

  box-shadow: 2px 5px 10px #e4e4e4;

  &:hover {
    transition: all 150ms linear;

    opacity: .85;
  }

  &:active {
    transition: all 150ms linear;
    opacity: .75;
  }

  &:focus {
    outline: 1px dotted #959595;
    outline-offset: -4px;
  }
}

.button a {
    text-decoration: none;
    color: #fff;
}

.button.-regular {
  color: #202129;
  background-color: #f2f2f2;

  &:hover {
    color: #202129;
    background-color: #e1e2e2;
    opacity: 1;
  }

  &:active {
    background-color: #d5d6d6;
    opacity: 1;
  }
}

.button.dark {
  color: #fff;
  background: #161616;

   &:focus {
    outline: 1px dotted #fff;
    outline-offset: -4px;
  }
}

.button.green {
  color: #FFFFFF;
  background: #A1C181;
}

.button.blue {
  color: #fff;
  background: #98C1D9;
}

.button.red {
  color: #fff;
  background: #B56576;
}

.right .button {
    margin-left: 2em;
}
